body {
  font-family: "Overlock SC", cursive;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
  gap: 20px;
}

.elementLeft,
.elementCenter,
.elementRight {
  flex: 1;
  border: 3px solid #f09819;
  padding: 10px;
  box-sizing: border-box;
  margin-top: initial;
}

.elementLeft,
.elementRight {
  background-image: url('../img/fundo1.png');
}

.elementCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subtitulo,
.playNews,
.aniversarianteMes {
  text-align: center;
  text-decoration: underline wavy #f09819;
}

#imgTecnico img,
.vcSabiaContainer img,
#rumo img {
  width: 50%;
  max-width: 150px;
  border-radius: 20px;
  margin: 10px;
}

#aniversariante {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  justify-items: center;
  width: -webkit-fill-available
}

#aniversariante img {
  width: 100px;
  height: 125px;
  border-radius: 30px;
}

.texto {
  text-align: justify;
}

.vcSabiaContainer {
  text-align: center;
  margin: 20px 0;
}

#vcSabia {
  margin-top: 10px;
}

#rumo img {
  width: 100%;
  max-width: 130px;
  border-radius: 10px;
  box-shadow: 9px 10px 9px rgba(50, 50, 50, 0.77);
}

#countdown,
#days,
#timeCompiled {
  text-align: center;
}

/* Mobile */
@media (max-width: 600px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .elementLeft,
  .elementCenter,
  .elementRight {
    width: 100%;
    max-width: 600px;
  }

  #imgTecnico img,
  .vcSabiaContainer img,
  #rumo img {
    max-width: 100px;
  }

  #aniversariante {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*Sidebar*/

.sidebar {
  height: 100%;
  width: 250px;
  position: fixed;
  top: 0;
  left: -250px; /* Inicia fechado */
  background-color: #333;
  padding-top: 60px;
  transition: left 0.3s ease;
}

.sidebar a {
  padding: 10px 15px;
  text-decoration: none;
  font-size: 18px;
  color: #fff;
  display: block;
  transition: background-color 0.3s ease;
}

.sidebar a:hover {
  background-color: #555;
}

.open {
  left: 0;
}

@media screen and (max-width: 768px) {
  .sidebar {
      width: 100%;
      left: -100%;
  }
  .open {
      left: 0;
  }
}

.hamburger {
  display: none;
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 999;
}

.hamburger div {
  width: 35px;
  height: 5px;
  background-color: #fff;
  margin: 6px 0;
  transition: transform 0.3s ease;
}

/* Animação do ícone do hamburger */
.change .hamburger div:nth-child(1) {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .hamburger div:nth-child(2) {
  opacity: 0;
}

.change .hamburger div:nth-child(3) {
  transform: rotate(45deg) translate(-8px, -8px);
}